/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');



/* Global Styles */

* {
    margin: 0;
    padding: 0;
  }

body {
    background-color: hsl(0, 0%, 100%);
}


h1, h2, h3{

  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  color:hsl(0, 0%, 5%);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.3rem;
    color:hsl(0, 0%, 10%);
    
}

h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color:hsl(0, 0%, 10%);
    opacity: 95%;
}


p, button{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    opacity: 90%;
}

p {
    color:hsl(0, 0%, 10%);
}




.btn {
    padding: 0.4rem 0.75rem;
    border:0rem;
    background-color: hsl(0, 100%, 67%);
    color: hsl(0, 0%, 99%)
}


.each_section{

    margin: 6rem 4rem  0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.7rem;
}




/* header */


#header{
    position: relative;
    height: 30rem;
    width:100%;
    border-bottom: 0.5rem solid hsl(0, 100%, 67%);
}   

#header p, h1{

    color:hsl(0, 0%, 98%);
    text-shadow: 1px 1px 2px black;
} 


#header img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:  cover;
    object-position: center;
}

#header_img_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:  black;
    opacity:  65%;
}


#header_content_wrapper {
    position:  absolute;
    width:  100%;
    height:  100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#header_content{
    position:  absolute;
    width:  70%;
    height:  100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:1.5rem;
}



/* amount section */

#amounts{
  
    display: flex;
    gap:2rem;

}

.amount{
    width:5rem;
    height:5rem;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    color:hsl(0, 0%, 30%);
    background-color: hsl(0, 0%, 97%);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


#selected_amount{
    background-color: #FFEEEE;
    color:hsl(0, 100%, 67%);
    border: 2px solid hsl(0, 100%, 67%);
    font-weight: bold;
    
}


#amount_input {

    width:30rem;
    border:none;
    border-bottom: 1px solid hsl(0, 0%, 85%);
    outline:none;
    padding-bottom: 0.7rem;
    text-align: center;
}







/* donation plans section */


.donation_plans {
    display: flex;
    justify-content: space-between;
    gap:1.5rem;
}



.donation_plan{
    flex-basis: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    text-align: center;
    background-color: hsl(0, 0%, 97%);
    border-bottom: 0.3rem solid hsl(0, 100%, 80%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
}

.donation_plan img {
    width: 10rem;
}




/* meet our volunteers section */


.volunteers {
    display: flex;
    justify-content: space-between;
    gap:1.5rem;
}

.volunteer{
    position: relative;
    height:3rem;
    width: 16rem;
    /* padding top & margin top is depending on the image position */
    padding: 9rem 3rem 3rem 3rem;
    margin-top: 5.5rem;
    display:flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: hsl(0, 0%, 97%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.volunteer img{
    position: absolute;
    top:-5rem;
    height:12rem;
    width: 12rem;
    object-fit: cover;
    border-top: .5rem solid hsl(0, 100%, 80%);
    border-left: .5rem solid hsl(0, 100%, 80%);
    border-radius: 50%;
    
}



/* daily updates */


#email_wrapper {
    padding: 5rem 10rem;
    background-color: hsl(0, 100%, 95%);
    display:flex;
    justify-content: center;
    gap:0rem;
  
}

#email_wrapper input {

    /* same padding as the input */
    padding: 0.4rem 0.75rem;
    border:0rem;
    background-color: hsl(0, 0%, 99%);
    outline:none;
}



/* footer */

#footer {
    margin-top: 5rem;
    padding:3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3rem;
    background-color: hsl(0, 0%, 20%);
    
}

#footer h6{

    color: hsl(0, 0%, 98%);
    
}

#footer p {
    margin-bottom: 0.7rem;
    color: hsl(0, 100%, 90%);
    font-weight: 600;
}


#footer_sections{
    display:flex; 
    gap:5rem;
}

.footer_section {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.7rem;
    text-align: center;
}



.footer_section  a{
    text-decoration: none;
    color: hsl(0, 100%, 98%);

}


#footer_social_media {
    margin-top: 1rem;
    display:flex;
    gap:0.5rem;
}

#footer_social_media svg {
    color: hsl(0, 0%, 95%);
    width:2rem;
    height:2rem;
}

#footer_copyright h6 {

    font-weight: 600;

}

    

